<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite">
    <test name="Test Language">
        <classes>
            <class name="tests.TestLanguage"/>
        </classes>
    </test>
</suite>

<!-- To run -->
<!-- mvn test -DskitTests=false -Dplatform=android -Dlocal=local -->
